<% if user_signed_in? %>
<p>何度でも投票し直せます (1 アカウントにつき 1 票しか入れられません)</p>
<% else %>
<p>Twitter でサインインすると投票出来ます</p>
<% end %>
<ol>
<% Precure.all_stars.map(&:precure_name).each.with_index do |precure, i| %>
  <li>
    <% if user_signed_in? %>
    <%= form_for [@election, @vote], url: "/elections/#{@election.id}/vote" do |f| %>
      <%= f.submit '投票する' %>
      <%= f.hidden_field :body, value: i %>
      <%= precure %>
      <% if !@vote.body.nil? && @vote.body == i %>
      (このプリキュアに投票しています)
      <% end %>
    <% end %>
    <% else %>
    <%= precure %>
    <% end %>
  </li>
<% end %>
</ol>

<hr>
<% if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign in with Twitter",  user_omniauth_authorize_path(:twitter) %>
<% end %>

<hr>

<p>Source code is <a href="https://github.com/kaosf/cure-general-election">here</a></p>
